<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/@microsoft/mgt/dist/bundle/mgt-loader.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@microsoft/microsoft-graph-client/lib/graph-js-sdk.js"></script>
  <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.1.0/js/msal.min.js"></script>
  <script type="text/javascript" src="https://alcdn.msauth.net/lib/1.4.6/js/msal.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>

<body style="margin: 0;">
<div class="container">
  <div class="ms-Grid-raw">
    <mgt-login></mgt-login>
  </div>
  <div class="ms-Grid" dir="ltr">
    <mgt-msal-provider client-id="7f650e4c-00dc-42fb-9a3a-ea28fd9556cb" scopes=""></mgt-msal-provider>

    <div class="ms-Grid-raw">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: 10px">
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Teams</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Agenda</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="one-tab" data-bs-toggle="tab" data-bs-target="#one" type="button" role="tab" aria-controls="one" aria-selected="true">Tasks</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="two-tab" data-bs-toggle="tab" data-bs-target="#two" type="button" role="tab" aria-controls="two" aria-selected="false">Inbox</button>
        </li>
        <!--<li class="nav-item" role="presentation">
          <button class="nav-link" id="three-tab" data-bs-toggle="tab" data-bs-target="#three" type="button" role="tab" aria-controls="three" aria-selected="false">Custom</button>
        </li>-->
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="four-tab" data-bs-toggle="tab" data-bs-target="#four" type="button" role="tab" aria-controls="four" aria-selected="false">Drive</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="five-tab" data-bs-toggle="tab" data-bs-target="#five" type="button" role="tab" aria-controls="five" aria-selected="false">Meetings</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="six-tab" data-bs-toggle="tab" data-bs-target="#six" type="button" role="tab" aria-controls="six" aria-selected="false">To-Do</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="seven-tab" data-bs-toggle="tab" data-bs-target="#seven" type="button" role="tab" aria-controls="seven" aria-selected="false">People</button>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg12">
            <mgt-teams-channel-picker></mgt-teams-channel-picker>
            <mgt-get id="messagesGet" version="beta">
              <template data-type="value">
                <div data-if="!deletedDateTime && body.content && from.user" class="teams-message">
                  <mgt-person user-id="{{from.user.id}}" view="oneLine" person-card="hover"></mgt-person>
                  <div style="margin: 10px" data-props="innerHTML: body.content"></div>
                  <mgt-get class="replyGet" polling-rate="5000" resource="/teams/{{channelIdentity.teamId}}/channels/{{channelIdentity.channelId}}/messages/{{id}}/replies" version="beta">
                    <template>
                      <div data-if="value && value.length !== 0" data-for="reply in value" style="background-color: rgba(250, 249, 248, 1.00);
                      font-size: smaller;
                      padding-left: 20px;
                      padding-top: 5px;
                      border-radius: 3px">
                        <mgt-person user-id="{{reply.from.user.id}}" view="oneLine" person-card="hover"></mgt-person>
                        <div>{{reply.body.content}}</div>
                      </div>
                      <div class="input-group mb-3" style="padding: 10px; background-color: rgba(250, 249, 248, 1.00)">
                        <input type="text" class="form-control" placeholder="Reply Text" aria-label="Reply Text" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-props="{{@click: messageClick}}" class="reply-button">Reply</button>
                      </div>
                    </template>
                    <template data-type="loading">
                      <div class="d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                      </div>
                    </template>
                  </mgt-get>
                </div>
              </template>
              <template data-type="loading">
                <div class="d-flex align-items-center">
                  <strong>Loading...</strong>
                  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
              </template>
            </mgt-get>
          </div>
        </div>


        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg12">
            <mgt-agenda
                    event-query="/me/events?orderby=start/dateTime"
                    days="5"
            >
            </mgt-agenda>
          </div>
        </div>


        <div class="tab-pane" id="one" role="tabpanel" aria-labelledby="one-tab">
          <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg12" id="tasks-container">
            <mgt-tasks></mgt-tasks>
          </div>
        </div>


        <div class="tab-pane" id="two" role="tabpanel" aria-labelledby="two-tab">
          <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg12">
            <mgt-get id="getEmails" polling-rate="30000" resource="/me/messages" version="V1.0" scopes="mail.read" max-pages="2">
              <template>
                <div class="email" data-for="email in value">
                  <h4 style="display: flex; justify-content: space-between">
                    <mgt-person
                            person-query="{{email.sender.emailAddress.address}}"
                            view="oneline"
                            person-card="hover"
                    >
                      <template data-type="person-card">
                        <mgt-person-card inherit-details></mgt-person-card>
                      </template>
                    </mgt-person>
                    <div data-if="email.isRead">Read</div>
                    <div data-else>Not Read</div>
                  </h4>
                  <h3 >
                    <div>{{ email.subject }}</div>
                  </h3>
                  <div data-if="email.bodyPreview" class="email-preview preview" innerHtml>{{email.bodyPreview}}</div>
                  <div data-if="email.body.content" class="email-body preview" style="display: none"></div>
                  <div data-else class="preview">
                    email body is empty
                  </div>
                  <button class="btn btn-light preview-button" style="line-height: 1.3;font-size: .8rem; margin-top: 5px" data-props="{{@click: previewBody, myProps: email}}">Preview</button>
                  <button class="btn btn-light close-button" style="line-height: 1.3;font-size: .8rem; margin-top: 5px; display: none" data-props="{{@click: closeBody, myProps: email}}">Close</button>
                  <a class="btn btn-light" href="{{email.webLink}}" target="_blank" style="line-height: 1.3;font-size: .8rem; margin-top: 5px">Open</a>
                  <a class="btn btn-light" href="https://outlook.office365.com/mail/deeplink/compose?itemId={{formatId(email.id)}}&subject=Re:{{formatSubject(email.subject)}}&to={{email.sender.emailAddress.address}}" target="_blank" style="line-height: 1.3;font-size: .8rem; margin-top: 5px">Reply</a>
                  <button class="btn btn-light" style="line-height: 1.3;font-size: .8rem; margin-top: 5px" data-props="{{@click: createContact, myProps: email}}">Create Lead</button>
                </div>
              </template>
              <template data-type="loading">
                <div class="d-flex align-items-center">
                  <strong>Loading...</strong>
                  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
              </template>
              <template data-type="error">
                {{ this }}
              </template>
            </mgt-get>
          </div>
        </div>


        <!--<div class="tab-pane" id="three" role="tabpanel" aria-labelledby="three-tab">
          <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg12">
            <mgt-agenda show-max="7" days="10">
              <template data-type="event">
                <div class="root">
                  <div class="time-container">
                    <div class="date">{{ dayFromDateTime(event.start.dateTime)}}</div>
                    <div class="time">{{ timeRangeFromEvent(event) }}</div>
                  </div>

                  <div class="separator">
                    <div class="vertical-line top"></div>
                    <div class="circle">
                      <div data-if="!event.bodyPreview.includes('Join Microsoft Teams Meeting')" class="inner-circle"></div>
                    </div>
                    <div class="vertical-line bottom"></div>
                  </div>

                  <div class="details">
                    <div class="subject">{{ event.subject }}</div>
                    <div class="location" data-if="event.location.displayName">
                      at
                      <a href="https://bing.com/maps/default.aspx?where1={{event.location.displayName}}" target="_blank"
                      ><b>{{ event.location.displayName }}</b></a
                      >
                    </div>
                    <div class="attendees" data-if="event.attendees.length">
                     <span class="attendee" data-for="attendee in event.attendees">
                       <mgt-person person-query="{{attendee.emailAddress.name}}">
                           <template data-type="person-card">
                                <mgt-person-card inherit-details></mgt-person-card>
                           </template>
                       </mgt-person>
                     </span>
                    </div>
                    <div class="online-meeting" data-if="event.bodyPreview.includes('Join Microsoft Teams Meeting')">
                      <img class="online-meeting-icon" src="https://img.icons8.com/color/48/000000/microsoft-teams.png" />
                      <a class="online-meeting-link" href="{{ event.onlineMeetingUrl }}">Join Teams Meeting</a>
                    </div>
                  </div>
                </div>
              </template>
            </mgt-agenda>
          </div>
        </div>-->

        <div class="tab-pane" id="four" role="tabpanel" aria-labelledby="four-tab">
          <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg12">
            <mgt-get id="driveGet" resource="https://graph.microsoft.com/v1.0/me/drive/root/children" version="V1.0">
              <template>
                <div class="list-group" data-for="file in value">
                    <a href="{{file.webUrl}}" target="_blank" class="list-group-item list-group-item-action" style="margin-bottom: 10px">
                      <div class="d-flex w-80 justify-content-between">
                        <h5 class="mb-1">{{file.name}}</h5>
                        <small>{{formatDate(file.fileSystemInfo.createdDateTime)}}</small>
                      </div>
                      <p data-if="file.file && file.file.mimeType" class="mb-1">{{file.file.mimeType}}</p>
                      <small data-if="file.size && file.size != 0">{{formatSize(file.size)}}</small>
                    </a>
                </div>
              </template>
              <template data-type="loading">
                <div class="d-flex align-items-center">
                  <strong>Loading...</strong>
                  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
              </template>
            </mgt-get>
          </div>
        </div>



        <div class="tab-pane" id="five" role="tabpanel" aria-labelledby="five-tab">
          <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg12">
            <mgt-get id="eventsGet" resource="/me/events?$select=subject,body,bodyPreview,organizer,attendees,start,end,location,isOnlineMeeting,onlineMeeting" version="V1.0">
              <template>
                <div data-for="event in value">
                  <div data-if="event.isOnlineMeeting && event.onlineMeeting">
                    <div class="card" style="margin: 20px">
                      <div class="card-header" style="display: flex; justify-content: space-between">
                        <div>{{event.subject}}</div>
                        <div class="details">
                          <div class="attendees" data-if="event.attendees && event.attendees.length > 0">
                             <span class="attendee" data-for="attendee in event.attendees">
                               <mgt-person person-query="{{attendee.emailAddress.name}}"></mgt-person>
                             </span>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <h6 class="card-title">
                          <div class="time-container" style="margin-bottom: 20px">
                            <div class="date" style="margin-bottom: 10px">{{ formatDate(event.start.dateTime)}}</div>
                            <div class="date" style="font-size: smaller">{{ formatTime(event.start.dateTime)}} - {{ formatTime(event.end.dateTime) }}</div>
                          </div>
                        </h6>
                        <a href="{{event.onlineMeeting.joinUrl}}" target="_blank" class="btn btn-primary">Join</a>
                        <button class="btn btn-secondary" data-props="{{@click: addToFA, myProp: event}}">Add To FA</button>
                      </div>
                    </div>
                    <!-- <div class="preview" data-props="innerHTML: event.body.content"></div>
                     <div data-props="{{@click: addToFA, myProp: event}}">Add to FA</div>-->
                    <!--              <a data-if="event.isOnlineMeeting && event.onlineMeeting" href="{{event.onlineMeeting.joinUrl}}">Join</a>-->
                  </div>
                </div>
              </template>
              <template data-type="loading">
                <div class="d-flex align-items-center">
                  <strong>Loading...</strong>
                  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
              </template>
            </mgt-get>
          </div>
        </div>

        <div class="tab-pane" id="six" role="tabpanel" aria-labelledby="six-tab">
          <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg12">
            <mgt-todo></mgt-todo>
          </div>
        </div>

        <div class="tab-pane" id="seven" role="tabpanel" aria-labelledby="seven-tab">
          <mgt-people show-max="50" id="people-container">
            <template>
              <div class="list-container">
                <div class="list-element" data-for="person in people">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <div type="button" class="btn btn-light" data-props="{{@click: addToFa, myProp: person}}">Sync</div>
                    <mgt-person person-query="{{person.scoredEmailAddresses[0].address}}" view="twoLines" person-card="hover">
                      <template data-type="person-card">
                        <mgt-person-card inherit-details></mgt-person-card>
                      </template>
                    </mgt-person>
                  </div>
                </div>
              </div>
            </template>
          </mgt-people>
        </div>
      </div>





      <!--<div class="ms-Grid-col ms-sm12 ms-md6 ms-lg4">
        <mgt-teams-channel-picker>
        </mgt-teams-channel-picker>
        <div id="add-channel">Open</div>
        <div id="teams-channel" style="display: none">
          <mgt-get id="get-channels" resource="" version="beta" scopes="mail.read" max-pages="2">
            <template>
              <div class="email" data-for="message in value">
                <div class="preview" innerHtml>{{message.body.content}}</div>
                <a href="{{message.webUrl}}" target="_blank">Link</a>
                <div>{{message}}</div>
              </div>
            </template>
            <template data-type="loading">
              loading
            </template>
            <template data-type="error">
              {{ this }}
            </template>
          </mgt-get>
        </div>
      </div>-->





      <!--<div class="ms-Grid-col ms-sm12 ms-md6 ms-lg4">
        <mgt-get resource="/me/messages" scopes="mail.read" max-pages="2">
          <template>
            <div>
              <div data-for="group in groupMail(value)">
                <div class="header">
                  <mgt-person person-query="{{ group[0] }}" view="oneLine" person-card="hover"></mgt-person>
                </div>
                <div data-for="message in group[1]" class="email">
                  <h2>{{ message.subject }}</h2>
                  <b>Preview:</b> {{ message.bodyPreview }}
                </div>
              </div>
            </div>
          </template>
        </mgt-get>
      </div>-->

      <!--<div class="ms-Grid-col ms-sm12 ms-md6 ms-lg4">
        <mgt-get id="messagesGet" version="beta">
          <template data-type="value">
            <div data-if="!deletedDateTime" class="teams-message">
              <mgt-person user-id="{{from.user.id}}" view="oneLine" person-card="hover"></mgt-person>
              <div data-props="@click: messageClick, innerHTML: body.content"></div>
              <div class="reply">
                <input></input>
                <button>reply</button>
              </div>
            </div>
          </template>
          <template data-type="loading">
            loading
          </template>
        </mgt-get>
      </div>-->

    </div>
  </div>
</div>
<script src="lib.js"></script>
<script src="applet_service.js"></script>
<script src="global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"
        integrity="sha512-Izh34nqeeR7/nwthfeE0SI3c8uhFSnqxV0sI9TvTcXiFJkMd6fB644O64BRq2P/LA/+7eRvCw4GmLsXksyTHBg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.3.2/moment-duration-format.min.js"
        integrity="sha512-ej3mVbjyGQoZGS3JkES4ewdpjD8UBxHRGW+MN5j7lg3aGQ0k170sFCj5QJVCFghZRCio7DEmyi+8/HAwmwWWiA=="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
<script src="https://unpkg.com/libphonenumber-js@1.8.5/bundle/libphonenumber-min.js"></script>

<script>
  let eventView = document.querySelector('mgt-agenda');
  eventView.addEventListener('eventClick', (e) => {
    console.log(e);
  });
</script>

<script>
  var myTab = document.getElementById('home-tab');
  var home = document.getElementById('home');
  var profileTab = document.getElementById('profile-tab');

  var profileTabEl = document.getElementById('profile');

  var oneTab = document.getElementById('one-tab');
  oneTab.addEventListener('click', (e) => {
    document.getElementById('tasks-container').style.display = "block";
  });

  myTab.addEventListener('show.bs.tab', function (event) {
    console.log(event);
  })

  profileTabEl.addEventListener('load', (e) => {
    console.log(e);
  })

  profileTab.addEventListener('show.bs.tab', function (event) {
    console.log(event);
  })


  myTab.click();

</script>
<script>
  startupService();
</script>
<script charset="utf-8">
  let client = null;
  let originUrl = document.location.href.replace('/?', '');
  let clientId = '7f650e4c-00dc-42fb-9a3a-ea28fd9556cb';
  let activeRecord = null;

  const msalConfig = {
    auth: {
      clientId: clientId, // Client Id of the registered application
      redirectUri: originUrl,
    },
  };
  const graphScopes = ["user.read", "mail.send", "ChannelMessage.Send", "Group.ReadWrite.All", "OnlineMeetings.ReadWrite", "Tasks.ReadWrite"]; // An array of graph scopes

  // Important Note: This library implements loginPopup and acquireTokenPopup flow, remember this while initializing the msal
  // Initialize the MSAL @see https://github.com/AzureAD/microsoft-authentication-library-for-js#1-instantiate-the-useragentapplication
  const msalApplication = new Msal.UserAgentApplication(msalConfig);
  const graphOptions = new MicrosoftGraph.MSALAuthenticationProviderOptions(graphScopes);
  const authProvider = new MicrosoftGraph.ImplicitMSALAuthenticationProvider(msalApplication, graphOptions);

  const options = {
    authProvider, // An instance created from previous step
  };
  const Client = MicrosoftGraph.Client;
  client = Client.initWithMiddleware(options);


  let taskView = document.querySelector('mgt-tasks');
  taskView.addEventListener('taskChanged', async ({detail}) => {

    let taskRes = await client.api(`/planner/tasks/${detail.id}`)
            .get();

    let { dueDateTime, assignments, completedBy,completedDateTime, createdBy, title , id} = taskRes;

    console.log(taskRes)
    let options = {
      entity: "task",
      filters: [
        {
          field_name: "task_field5",
          operator: 'includes',
          values: [id],
        }
      ],
      upsert: {
        "entity" : "task",
        "id": "",
        "field_values" : {
          "task_status" : !!completedDateTime,
          "description" : title,
          "due_date" : dueDateTime,
          "task_field5": id
        }
      }
    }

    checkAndUpsertEntity(options);

  });

  taskView.addEventListener('taskClick', (e) => {
    console.log(e);
  });

  taskView.addEventListener('taskAdded', (e) => {
    console.log(e);
    let { dueDateTime, assignments, completedBy,completedDateTime, createdBy, title , id , upn } = e.detail;
    console.log(createdBy, upn)
    let options = {
      "entity" : "task",
      "id": "",
      "field_values" : {
        "assigned_to": "d0c7da6b-d36b-4041-baf2-c9fc52947012",
        "task_type" : "21d1ac18-81ea-4c5d-b676-85965b2281b6",
        "task_status" : !!completedDateTime,
        "description" : title,
        "due_date" : dueDateTime,
        "task_field5" : id
      }
    }

    createTask(options, createdBy);
  });

  taskView.addEventListener('taskRemoved', ({detail}) => {
    let { id } = detail;
    let options = {
      entity: "task",
      filters: [
        {
          field_name: "task_field5",
          operator: 'includes',
          values: [id],
        }
      ],
      upsert: {
        "entity" : "task",
        "id": "",
        "field_values" : {
          deleted: true
        }
      }
    }

    deleteRecord(options);
  });



  /*try {
    let userDetails = client.api("/me").get();
    console.log(userDetails);
  } catch (error) {
    throw error;
  }*/

  const channelPicker = document.querySelector('mgt-teams-channel-picker');
  const messagesGet = document.getElementById('messagesGet');
  const eventGet = document.getElementById('eventsGet');
  const driveGet = document.getElementById('driveGet');
  const getEmails = document.getElementById('getEmails');

  //const replyGetAll = document.querySelectorAll('replyGet');

  channelPicker.addEventListener('selectionChanged', e => {
    if (e.detail.length) {
      console.log(e.detail[0])
      let channelId = e.detail[0].channel.id;
      let teamId = e.detail[0].team.id;
      messagesGet.resource = `teams/${teamId}/channels/${channelId}/messages`;
    }
  });

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  let token = getCookie(`msal.${clientId}.idtoken`);

  console.log(token);

  async function postToGraph(url="",data={}, method='post') {
    let options = {
      url,
      method,
      baseURL: 'graph.microsoft.com/beta/',
      headers: {
        Authorization: `Bearer ${token}`,
      },
      data: {
        "body": {
          "contentType": "html",
          "content": "Hello World"
        }
      },
    }
    let res = await axios(options);
    console.log(res);
  }


  messagesGet.addEventListener('templateRendered', (e) => {
    let allReplyButtons = e.target.querySelectorAll('.replyGet');
    allReplyButtons.forEach(reply => {
      reply.templateContext = {
        messageClick: (e, message, root) => {
          let channelIdentity = message['$parent'].channelIdentity;
          let id = message['$parent'].id;
          console.log(message['$parent'].channelIdentity);
          let input = root.querySelector('input');
          console.log(input.value);
          let chatMessage = {
            "body": {
              "contentType": "html",
              "content": input.value
            }
          }
          try {
            let apiUrl = `/teams/${channelIdentity.teamId}/channels/${channelIdentity.channelId}/messages/${id}/replies`;
            let messageResponse = client.api(apiUrl).post(chatMessage);
            messageResponse.then(data => {
              console.log(root.target);
              console.log(root.parentNode);
              root.parentNode.style.display = "none";
              root.parentNode.style.display = "block";
            }).catch(e => console.log(e));
          } catch (error) {
            throw error;
          }
        }
      };
    })
  });

  messagesGet.templateContext = {
    messageClick: (e, message, root) => {
      console.log(message, root);
      let chatMessage = {
        "body": {
          "contentType": "html",
          "content": "replyMessage.value"
        }
      }
      try {
        let messageResponse = client.api(apiUrl).post(chatMessage);
        messageResponse.then(data => {
          //replyGet.style.display = "none";
          //replyGet.style.display = "block";
        }).catch(e => console.log(e));
      } catch (error) {
        throw error;
      }
    }
  };

  eventGet.templateContext = {
    formatDate: (date) => {
      return moment().format('LL');
    },
    formatTime: (date) => {
      return moment(date).format('LT');
    },
    addToFA: (e, eventObj, root) => {

      let { subject,body,bodyPreview,organizer,attendees,start,end,location,isOnlineMeeting,onlineMeeting } = eventObj.event;

      let taskOptions = {
        "entity" : "task",
        "id": "",
        "field_values" : {
          "task_type" : "a8e084b9-d0f0-4c47-9d0f-b565e9ea544a",
          "description" : subject,
          "event_start_time" : start.dateTime,
          "event_end_time": end.dateTime,
          "task_field0": onlineMeeting.joinUrl
        }
      }

      createEntity(taskOptions);

      console.log(subject,body,bodyPreview,organizer,attendees,start,end,location,isOnlineMeeting,onlineMeeting)
    }
  };

  getEmails.templateContext = {
    formatDate: (date) => {
      return moment().format('LL');
    },
    formatTime: (date) => {
      return moment(date).format('LT');
    },
    formatId: (id) => {
      return id.replace('=', '%3D');
    },
    formatSubject: (id) => {
      return id.replace(' ', '%20');
    },
    closeBody: (e, eventObj, root) => {
      e.target.parentNode.querySelector('.email-preview').classList.toggle('preview');
      e.target.parentNode.querySelector('.email-preview').classList.toggle('email-body-preview');
      e.target.parentNode.querySelector('.email-preview').innerHTML = eventObj.email.bodyPreview;
      e.target.parentNode.querySelector('.preview-button').style.display = "inline-block";
      e.target.parentNode.querySelector('.close-button').style.display = "none";
    },
    previewBody: (e, eventObj, root) => {
      e.target.parentNode.querySelector('.email-preview').classList.toggle('preview');
      e.target.parentNode.querySelector('.email-preview').classList.toggle('email-body-preview');
      e.target.parentNode.querySelector('.email-preview').innerHTML = eventObj.email.body.content;
      e.target.parentNode.querySelector('.close-button').style.display = "inline-block";
      e.target.parentNode.querySelector('.preview-button').style.display = "none";
    },
    createContact: (e, eventObj, root) => {
      console.log(e, eventObj, root);

      let { subject, sender } = eventObj.email;

      let leadOptions = {
        "entity" : "lead",
        "id": "",
        "field_values" : {
          "lead_field4" : "5731fa7a-e6bb-442e-bf00-4457774a0301",
          "lead_field5" : sender.emailAddress.address,
          "lead_field2" : sender.emailAddress.name
        }
      }

      createEntity(leadOptions);


/*
      let { subject,body,bodyPreview,organizer,attendees,start,end,location,isOnlineMeeting,onlineMeeting } = eventObj.event;

      let taskOptions = {
        "entity" : "task",
        "id": "",
        "field_values" : {
          "task_type" : "a8e084b9-d0f0-4c47-9d0f-b565e9ea544a",
          "description" : subject,
          "event_start_time" : start.dateTime,
          "event_end_time": end.dateTime,
          "task_field0": onlineMeeting.joinUrl
        }
      }

      createEntity(taskOptions);

      console.log(subject,body,bodyPreview,organizer,attendees,start,end,location,isOnlineMeeting,onlineMeeting)*/
    }
  };

  function formatBytes(a,b=2){if(0===a)return"0 Bytes";const c=0>b?0:b,d=Math.floor(Math.log(a)/Math.log(1024));return parseFloat((a/Math.pow(1024,d)).toFixed(c))+" "+["Bytes","KB","MB","GB","TB","PB","EB","ZB","YB"][d]}

  driveGet.templateContext = {
    formatDate: (date) => {
      return moment().format('LL');
    },
    formatTime: (date) => {
      return moment(date).format('LT');
    },
    formatSize: (bytes) => {
      return formatBytes(bytes);
    }
  };


  let personCard = document.getElementById('people-container');
  personCard.templateContext = {
    addToFa: (e, {person}, root) => {
      let { id, displayName, givenName, jobTitle, officeLocation, personNotes, personType, phones, scoredEmailAddresses, surname, userPrincipalName, department, companyName } = person;
      console.log(id, displayName, givenName, jobTitle, officeLocation, personNotes, personType, phones, scoredEmailAddresses, surname, userPrincipalName, department, companyName);
      let options = {
        "entity" : "team",
        "id": "",
        "field_values" : {
          "team_field0" : id || "",
          "team_field5" : userPrincipalName || "",
          "description" : personNotes || "",
          "team_field3" : jobTitle || "",
          "team_field4" : phones[0].number || "",
          "team_field1" : userPrincipalName || "",
          "team_field6" : personType.subclass || "",
          "team_field7" : displayName
        }
      }
      createEntity(options)
    }
  };


  /*
  const onlineMeeting = {
    startDateTime:"2019-07-12T14:30:34.2444915-07:00",
    endDateTime:"2019-07-12T15:00:34.2464912-07:00",
    subject:"User Token Meeting"
  };

  let res = client.api('/me/onlineMeetings')
          .post(onlineMeeting);
  */


  /*
   var url = null;

   if (window.location != window.parent.location) {
     console.log(document.URL);
     url = document.referrer;
   } else {
     console.log(document.location);
     url = document.location.href;
   }

   console.log(url);
   */

  /*
    const submitChannel = document.querySelector('#add-channel');


    const teamsGet = document.querySelector('#teams-channel');

    const getChannels = document.querySelector('#get-channels');

    let resource = "/teams/910343dd-6df2-4f79-8807-c6cf9c08ef49/channels/19:a82744bd0c7d4f38b57a60054a5f520b@thread.tacv2/messages";

    channelPicker.addEventListener('selectionChanged', e => {
      if (e.detail.length) {
        console.log()
        let channelId = e.detail[0].channel.id;
        let teamId = e.detail[0].team.id;
        messagesGet.resource = `teams/${teamId}/channels/${channelId}/messages/delta`;
      }
    });

    submitChannel.addEventListener('click', (e) => {
      console.log('click');
      // const channelPicker = document.querySelector('mgt-teams-channel-picker');
      console.log(channelPicker.selectedItem.channel);
      console.log(channelPicker.selectedItem.team);
      getChannels.resource = `/teams/${channelPicker.selectedItem.team.id}/channels/${channelPicker.selectedItem.channel.id}/messages`;
      teamsGet.style.display = "grid";
    });

   */

</script>

<script charset="utf-8">
  let opened = false;
  let button = document.getElementsByTagName('mgt-login')[0];
  console.log(document.cookie.length)
  console.log(button.ownerDocument.domain)
  /*
  if (button.ownerDocument &&  window.parent.location !== window.location && document.cookie.length == 0) {
    console.log(button.ownerDocument)
    console.log(button.ownerDocument.domain);
    window.open(`https://${button.ownerDocument.domain}`);
  }
  */

  /*let button = document.getElementsByTagName('mgt-login')[0];
  button.addEventListener('click', (e) => {
    window.open(button.ownerDocument.baseURI.replace('?', ''),'popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;
  })
  console.log(button);*/
</script>
</body>

</html>
