body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

body, #frameContainer, #frameContainer iframe {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.email {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 8px 4px;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

.email:hover {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 8px 4px;
}

.email h3 {
  font-size: 12px;
  margin-top: 4px;
}

.email h4 {
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.email mgt-person {
  --font-size: 10px;
  --avatar-size-s: 12px;
}

.email .preview {
  font-size: 13px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.8em;
  line-height: 1.4em;
}

.note {
  margin: 2em 0 0 1em;
  color: #323130;
  font-size: 12px;
}

.teams-message {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 8px 4px;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

.teams-message:hover {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

#messagesGet {
  overflow: auto;
  display: block;
}

.list-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.list-element {
  display: flex;
  width: 100%;
  margin: 10px;
}

.replyGet mgt-person {
  --avatar-size: 20px;
}

.add-to-fa-button {

}


.email-body-preview {
  font-size: 13px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.4em;
}


